body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0 !important;
  background-image: url('4407079.png'); 
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
}



.header {
  background-color: #0084ff !important; 
  padding: 20px;
  text-align: center;
  color: #fff !important; 
}


.create-button {
  background-color: #28a745 !important; 
  color: #fff !important; 
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.create-button:hover {
  background-color: #218838 !important; 
}


.reminder-card {
  background-color:  rgba(255, 255, 255, 0.9) !important;
  border: 1px solid #ddd !important; 
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.reminder-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.reminder-content {
  font-size: 1.1rem;
  color: #333; 
}


.action-button {
  background-color: #007bff !important;
  color: #fff !important;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #0056b3 !important;
}


.cancel-button {
  background-color: #dc3545 !important; 
}

.cancel-button:hover {
  background-color: #c82333 !important;
}
